body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}

.toan-bo-giua {
  text-align: center;
}

body.dark {
  background: #111;
  color: white;
}



.buttons--active .buttons__ctas {
  transform: translate(-50%, -50%) rotate(0deg);
}
.buttons--active .buttons__ctas:nth-child(1) {
  transform: translate(-110, -150%) rotate(0deg);
}
.buttons--active .buttons__ctas:nth-child(2) {
  transform: translate(10%, -150%) rotate(0deg);
}
.buttons--active .buttons__ctas:nth-child(3) {
  transform: translate(65%, -50%) rotate(0deg);
}
.buttons--active .buttons__ctas:nth-child(4) {
  transform: translate(10%, 50%) rotate(0deg);
}
.buttons--active .buttons__ctas:nth-child(5) {
  transform: translate(-110%, 50%) rotate(0deg);
}
.buttons--active .buttons__ctas:nth-child(6) {
  transform: translate(-165, -50%) rotate(0deg);
}



table {
  border-collapse: collapse;
  width: 300px;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #b93838;
  padding: 5px;
  text-align: center;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkgreen;
}

.hop-div {
  background-color: lightblue;
  padding: 10px;
  margin-top: 10px;
}

.highlight {
  color: red;
  font-weight: bold;
}
